.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.main form {
  display: flex;
  flex-direction: column;
  margin: 0.6rem;
  padding: 1rem;
  width: 600px;
  gap: 1rem;
}
